
# Node.js
node_modules
npm-debug.log
yarn-error.log

# Build output
dist

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

*storybook.log
storybook-static
test-results
test-results/*
playwright-report
playwright-report/*