
# Node.js
node_modules
npm-debug.log
yarn-error.log

# Build output
dist

# Environment variables
.env
.env.local
.env.development
.env.dev
.env.test
.env.production
.env.prod
# Testing
*storybook.log
storybook-static
test-results
test-results/*
playwright-report
playwright-report/*

# Docker
docker-compose.override.yml